<div id="page" class="section">
    <app-header></app-header>

    <!-- CONTENT -->
    <router-outlet></router-outlet>
    <!-- END CONTENT-->

    <div class="footer-section section" data-bg-color="#030e22">
        <div class="container">

            <!-- Footer Top Widgets Start -->
            <div class="row mb-lg-14 mb-md-10 mb-6">

                <!-- Footer Widget Start -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 col-12 mb-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/images/logo/footer-logo.png" alt="Agency Logo"></a>
                        </div>
                        <div class="footer-widget-content">
                            <div class="content">


                                <p><a href="#">(+1) 212-946-2701</a></p>
                                <p><a href="#">hello@hasagency.com</a> </p>
                            </div>
                            <div class="footer-social-inline">
                                <a href="#"><i class="fab fa-twitter-square"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Services</h4>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">SEO/SEM</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">UX Design</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Products</h4>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="#">Elementor Guru</a></li>
                                <li><a href="#">WooLentor Pro</a></li>
                                <li><a href="#">Plugins <span class="ft-badge">New</span></a></li>
                                <li><a href="#">Page Builder</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">About</h4>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Our Partners</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Pricing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Contact</h4>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="#">Support Ticket</a></li>
                                <li><a href="#">Help Desk</a></li>
                                <li><a href="#">Live Chat</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->

            </div>
            <!-- Footer Top Widgets End -->

            <!-- Footer Copyright Start -->
            <div class="row">
                <div class="col">
                    <p class="copyright">Copyright &copy; 2020 <a href="http://ivoirelight-technologies.web.app/">Ivoirelight technologies</a>. All
                        Rights Reserved.</p>
                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>
    </div>

    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fal fa-long-arrow-up"></i>
        <i class="arrow-bottom fal fa-long-arrow-up"></i>
    </a>
    <!-- Scroll Top End -->
</div>

<div id="site-main-mobile-menu" class="site-main-mobile-menu">
    <div class="site-main-mobile-menu-inner">
        <div class="mobile-menu-header">
            <div class="mobile-menu-logo">
                <a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a>
            </div>
            <div class="mobile-menu-close">
                <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-menu-content">
            <nav class="site-mobile-menu">
                <ul>
                    <li>
                        <a routerLink="/" routerLinkActive="router-link-active"><span
                                class="menu-text">Accueil</span></a>
                    </li>
                    <li>
                        <a routerLink="/prestations" routerLinkActive="router-link-active"><span class="menu-text">Nos
                                Prestations</span></a>
                    </li>
                    <li>
                        <a routerLink="/blog" routerLinkActive="router-link-active"><span
                                class="menu-text">Actualités</span></a>
                    </li>
                    <li>
                        <a routerLink="a-propos" routerLinkActive="router-link-active"><span
                                class="menu-text">A Propos</span></a>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="router-link-active"><span class="menu-text">Contactez
                                Nous</span></a>
                    </li>
                </ul>
                <!-- Header Right Start -->
                <div class="site-mobile-menu d-sm-flex justify-content-end order-1 order-xl-2">
                    <a href="#" class="btn btn-light btn-hover-primary">Faire Une Demande</a>
                </div>
                <!-- Header Right End -->
            </nav>
        </div>
    </div>
</div>