<!-- Page Title Section Start -->
<div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="assets/images/bg/breadcrumb-bg-four.jpg">
    <div class="page-title">
        <div class="container">
            <h1 class="title">Find all our latest news, insights, and events</h1>
        </div>
    </div>
    <div class="page-breadcrumb position-static">
        <div class="container">
            <ul class="breadcrumb justify-content-center">
                <li><a href="index.html">Home</a></li>
                <li class="current">Blog</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- Blog Section Start -->
<div class="section section-padding fix">
    <div class="container">

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 mb-n6">
            <div class="col">
                <!-- Single Blog Start -->
                <div class="blog">
                    <div class="thumbnail">
                        <a href="blog-details.html" class="image"><img src="assets/images/blog/370/blog-1.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="info">
                        <ul class="meta">
                            <li><i class="far fa-calendar"></i>Apr 06, 2020</li>
                            <li><i class="far fa-eye"></i>70 views</li>
                        </ul>
                        <h3 class="title"><a href="blog-details.html">How your sales can work together in account-based marketing</a></h3>
                        <a href="blog-details.html" class="link "> <mark>Read More</mark> </a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col">
                <!-- Single Blog Start -->
                <div class="blog">
                    <div class="thumbnail">
                        <a href="blog-details.html" class="image"><img src="assets/images/blog/370/blog-2.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="info">
                        <ul class="meta">
                            <li><i class="far fa-calendar"></i>Apr 06, 2020</li>
                            <li><i class="far fa-eye"></i>70 views</li>
                        </ul>
                        <h3 class="title"><a href="blog-details.html">The six things marketers need to understand about DTC marketing</a></h3>
                        <a href="blog-details.html" class="link "> <mark>Read More</mark> </a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col">
                <!-- Single Blog Start -->
                <div class="blog">
                    <div class="thumbnail">
                        <a href="blog-details.html" class="image"><img src="assets/images/blog/370/blog-3.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="info">
                        <ul class="meta">
                            <li><i class="far fa-calendar"></i>Apr 06, 2020</li>
                            <li><i class="far fa-eye"></i>70 views</li>
                        </ul>
                        <h3 class="title"><a href="blog-details.html">Eleven top tips for developing agile marketing</a></h3>
                        <a href="blog-details.html" class="link "> <mark>Read More</mark> </a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col">
                <!-- Single Blog Start -->
                <div class="blog">
                    <div class="thumbnail">
                        <a href="blog-details.html" class="image"><img src="assets/images/blog/370/blog-4.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="info">
                        <ul class="meta">
                            <li><i class="far fa-calendar"></i>Apr 06, 2020</li>
                            <li><i class="far fa-eye"></i>70 views</li>
                        </ul>
                        <h3 class="title"><a href="blog-details.html">How your sales can work together in account-based marketing</a></h3>
                        <a href="blog-details.html" class="link "> <mark>Read More</mark> </a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col">
                <!-- Single Blog Start -->
                <div class="blog">
                    <div class="thumbnail">
                        <a href="blog-details.html" class="image"><img src="assets/images/blog/370/blog-5.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="info">
                        <ul class="meta">
                            <li><i class="far fa-calendar"></i>Apr 06, 2020</li>
                            <li><i class="far fa-eye"></i>70 views</li>
                        </ul>
                        <h3 class="title"><a href="blog-details.html">The six things marketers need to understand about DTC marketing</a></h3>
                        <a href="blog-details.html" class="link "> <mark>Read More</mark> </a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <div class="col">
                <!-- Single Blog Start -->
                <div class="blog">
                    <div class="thumbnail">
                        <a href="blog-details.html" class="image"><img src="assets/images/blog/370/blog-6.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="info">
                        <ul class="meta">
                            <li><i class="far fa-calendar"></i>Apr 06, 2020</li>
                            <li><i class="far fa-eye"></i>70 views</li>
                        </ul>
                        <h3 class="title"><a href="blog-details.html">Eleven top tips for developing agile marketing</a></h3>
                        <a href="blog-details.html" class="link "> <mark>Read More</mark> </a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
        </div>

        <!-- Pagination Start -->
        <div class="row mt-10">
            <div class="col">

                <ul class="pagination center">
                    <li><a href="#" class="prev"><i class="fal fa-angle-left"></i></a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><span class="page-numbers dots"><i class="fal fa-ellipsis-h"></i></span></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" class="next"><i class="fal fa-angle-right"></i></a></li>
                </ul>

            </div>
        </div>
        <!-- Pagination End -->
    </div>
</div>
<!-- Blog Section End -->

<!-- CTA Section Start -->
<div class="section section-padding-t110-b120 newsletter-section" data-overlay="0.7" data-bg-image="assets/images/bg/newsletter.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-12 m-auto">
                <!-- CTA Content Start -->
                <div class="cta-content text-center">
                    <!-- Section Title Start -->
                    <div class="section-title color-light text-center mb-0" data-aos="fade-up">
                        <h2 class="title">Let’s find out how to work together</h2>
                        <p class="sub-title fz-18">Ready to start your project? The contact information collected through
                            this form will only be used to send a response to your inquiry.</p>
                    </div>
                    <!-- Section Title End -->
                    <a href="#" class="btn btn-primary btn-hover-secondary mt-6">Get Started</a>
                </div>
                <!-- CTA Content End -->
            </div>
        </div>
    </div>

    <!-- Animation Shape Start -->
    <div class="shape shape-1 scene">
        <span data-depth="1">
            <img src="assets/images/shape-animation/newsletter-shape.png" alt="">
        </span>
    </div>
    <!-- Animation Shape End -->
</div>
